body {
    padding-top: 60px;
    padding-bottom: 20px;
}

.result {
    float: left;
    margin: 10px;
}

.mac-img img {
    width: 60px;
    height: 60px;
}

.mac {
    font-size: 0.9em;
}

.controls-div {
    margin: 10px;
}
